<!-- about.component.html -->

<div class="about" id="About">
  <h1 data-aos="fade-right">Web<span>About</span></h1>

  <div class="about_main" data-aos="fade-right">
    <div class="about_image">
      <div class="about_small_image">
        <img src="assets/image/air-jordan-red_1.png" (click)="changeImage('assets/image/air-jordan-red_1.png')">
        <img src="assets/image/air-jordan-red_2.png" (click)="changeImage('assets/image/air-jordan-red_2.png')">
        <img src="assets/image/air-jordan-red_3.png" (click)="changeImage('assets/image/air-jordan-red_3.png')">
        <img src="assets/image/air-jordan-red_4.png" (click)="changeImage('assets/image/air-jordan-red_4.png')">
      </div>

      <div class="image_contaner">
        <img [src]="selectedImage" id="imagebox">
      </div>
    </div>

    <div class="about_text">
      <p>
        Get grounded, stay grounded. The AJ XXXVIII is all about groundwork—we're talking about your running, your cutting, your turn-around jumpers—with low-to-the-court cushioning and a secure upper that helps support every move. It's also designed with sustainability in mind, with at least 20% recycled content by weight. So you can hit 'em with that windscreen-wiper fake and feel good about more than just sinking a bucket for your team.
        <br>
        <br>
        <br>
        Colour Shown: Black/Anthracite/Gamma Blue/Particle Grey
        <br>
        Style: FD2325-004
      </p>
    </div>
  </div>

  <a href="#" class="about_btn">Shop Now</a>
</div>
