<div class="products" id="Products">
  <h1>Products</h1>
  <div class="box" >
    <div class="card" *ngFor="let product of productList | paginate:{
  itemsPerPage: tableSize,
  currentPage: page,
  totalItems: count}; let i = index">
      <div class="small_card">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-share"></i>
      </div>

      <div class="image">
        <img [src]="'assets/'+product.imageUrl">
      </div>

      <div class="products_text">
        <h2>{{ product.name }}</h2>
        <p>
          {{ product.description }}
        </p>
        <h3>{{ product.price }}$</h3>
        <div class="products_star">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>

      </div>
      <div class="add-button">
        <a href="/cart" class="btn" (click)="addToCart(product.id)">Add To Cart</a>
      </div>
    </div>

  </div>
  <div class="pagination">
    <pagination-controls class="pagination-controls"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>

