::ng-deep {
  /* Your global styles */
  .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ngx-pagination li {
    list-style-type: none;
    margin: 0 5px;
  }

  .ngx-pagination a {
    text-decoration: none;
    color: #555; /* Default color */
    padding: 10px 15px;
    border: 1px solid #ddd; /* Default color */
    border-radius: 25px; /* Rounded edges */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    background: linear-gradient(to bottom, #f8f8f8, #e8e8e8); /* Gradient background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft box shadow for a lift effect */
  }

  .ngx-pagination a:hover {
    background: linear-gradient(to bottom, #e8e8e8, #d8d8d8); /* Slightly darker gradient on hover */
    color: #333; /* Darker text color on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slightly stronger box shadow on hover */
  }

  .ngx-pagination li.current a {
    background: linear-gradient(to bottom, #007bff, #0056b3); /* Active gradient background */
    color: #fff; /* Active text color */
    border: 1px solid #007bff; /* Active border color */
    box-shadow: none; /* No box shadow for active state */
  }
}
.pagination{
  margin-top: 50px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Add the :host selector to increase specificity */



.card{
  width: 290px;
  height: auto;
  box-shadow: 0 0 8px #6c14d0;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  background: #f6f6f6;
}
.card .small_card{
  display: flex;
  flex-flow: column;
  position: absolute;
  margin: 10px 0;
  transform: translateX(-20px);
  transition: 0.3s;
  opacity: 0;
}

.card:hover .small_card{
  transform: translateX(2px);
  cursor: pointer;
  opacity: 1;
}

.card .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .image img{
  width: 150px;
  margin: 15px 0;
  height: 150px;
  transition: 0.3s;
}

.card:hover .image img{
  transform: scale(1.1);
}

.card .small_card i{
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  margin: 2px 0;
  line-height: 40px;
  border: 2px solid #999999;
  transition: 0.2s;
}

.card .small_card i:hover{
  color: #c72092;
}

.card .products_text h2{
  font-size: 30px;
  margin-top: 15px;
}

.card .products_text p{
  color: #91919191;
  line-height: 21px;
  margin: 8px 0;
}


.card .products_text h3{
  margin: 7px 0;
}

.card .products_text .products_star{
  color: orange;
  margin-bottom: 19px;
  cursor: pointer;
}

.card .add-button{
  height: 37.6px;
  width: 100%;
  margin-bottom: 20px;

}
.card .add-button .btn{
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(to right, #c72092 , #6c14d0);
  color: white;
}

/*Products*/
.products{
  width: 100%;
  background-color: #DCDCDC;
  height: 100vh;
  position: relative;
  padding: 25px 0;
  //box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border-bottom: solid 1px black;
  z-index: 2;
}

.products h1{
  margin: 35px 0;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #c72092,#6c14d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products .box{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px 0;
}


