*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
section{
  width: 100%;
  height: 80vh;
  background-image: url(/assets/image/nikeanimation.gif);
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);

}
section .main{
  width: 100%;
  height: 100%;
}
section .main_content{
  display: flex;
  width: 100%;
  align-items: center;

  /*justify-content: space-around;*/
}

section .main_content .main_text h1{
  font-size: 60px;
  line-height: 70px;
  font-family: pyxidium quick;
  /*background: linear-gradient(to right, #c72092,#6c14d0);*/
  background: linear-gradient(to right, #cec1c7, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 200px;
  left: 50px;
}

section .main_content .main_text h1 span{
  font-size: 60px;
  /*background: linear-gradient(to right, #c72092,#6c14d0);*/
  background: linear-gradient(to right, #cec1c7, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .main_content .main_text p{
  width: 600px;
  text-align: justify;
  line-height: 21px;
  position: relative;
  color: white;
  font-size: 12px;
  top: 200px;
  left: 50px;
}

section .main_content .main_image img{
  width: 650px;
  position: relative;
  left: 20px;
  top: 75px;
}

section .social_icon{
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-50%,-50%);
  font-size: 19px;
}

section .main .social_icon i{
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s;
}

section .main .social_icon i:hover{
  color: #c72092;
}

section .button{
  position: absolute;
  left: 50px;
  width: 300px;
  padding: 10px 20px;
  /*bottom: 250px;*/
  top: 470px;
  border-radius: 30px;
  background: linear-gradient(to right,#c72092 , #6c14d0);
}

section .main_content .button a{
  color: white;
  width: 100%;
  text-decoration: none;
}

section .main_content .button i{
  color: white;
  margin-left: 5px;
  transition: 0.3s;

  animation: arrowAnimation 1.5s infinite alternate; /* Keyframes animation */
}

section .main_content .button:hover i{
  transform: translateX(6px);
}
@keyframes arrowAnimation {
  to {
    transform: translate(170px) translate(-50%);
  }
}
