* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

section {
  margin: 150px 50px 50px;
  width: 90%;
  height: 90vh;
  background-image: url(/assets/image/contet.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);

}

section .main {
  width: 100%;
  height: 100%;
}

section .main_content {
  display: flex;
  width: 100%;
  align-items: center;

  /*justify-content: space-around;*/
}

section .main_content .main_text h1 {
  font-size: 60px;
  line-height: 70px;
  font-family: pyxidium quick;
  /*background: linear-gradient(to right, #c72092,#6c14d0);*/
  background: linear-gradient(to right, #cec1c7, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 50px;
  left: 50px;
}

section .main_content .main_text h1 span {
  font-size: 60px;
  /*background: linear-gradient(to right, #c72092,#6c14d0);*/
  background: linear-gradient(to right, #cec1c7, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .main_content .main_text p {
  width: 600px;
  text-align: justify;
  line-height: 21px;
  position: relative;
  color: white;
  font-size: 12px;
  top: 50px;
  left: 50px;
}

section .main_content .main_image img {
  width: 650px;
  position: relative;
  left: 20px;
  top: 75px;
}

section .social_icon {
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-50%, -50%);
  font-size: 19px;
}

section .main .social_icon i {
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s;
}

section .main .social_icon i:hover {
  color: #c72092;
}

section button {
  position: absolute;
  left: 50px;
  top: 60%;
}

button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: hsl(255deg 50% 40%);
  border: solid 4px #c72092;
  font-family: inherit;
}

.default-btn,
.hover-btn {
  background-color: hsl(255deg 50% 40%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s ease;
}

.hover-btn {
  position: absolute;
  inset: 0;
  background-color: hsl(255deg 50% 49%);
  transform: translate(0%, 100%);
}

.default-btn span {
  color: hsl(0, 0%, 100%);
}

.hover-btn span {
  color: hsl(50deg 100% 50%);
}

button:hover .default-btn {
  transform: translate(0%, -100%);
}

button:hover .hover-btn {
  transform: translate(0%, 0%);
}

@keyframes arrowAnimation {
  to {
    transform: translate(170px) translate(-50%);
  }
}
.shoe-viewer {
  width: 30%; /* Điều chỉnh kích thước cho phù hợp với nội dung */
  height: 100%; /* Điều chỉnh kích thước cho phù hợp với nội dung */
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 10px;
  padding-top: 100px;
}
canvas{
  width: 100%;
  height: 50%;
}

