<head>
  <title>Nike - Just Do It</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<section>
  <div class="main" id="Home">
    <div class="main_content">
      <div class="main_text">
        <h1 data-aos="fade-right">NIKE<br><span>Collection</span></h1>
        <p>
          Nike Air technology consists of pressurised air
          <br>
          inside a tough yet flexible bag, and provides more
          <br>
          flexibility and spring without compromising structure.
          <br>
          The Air-Sole units maintain their given form with
          <br>
          elasticity, reduce impact and keep the shoe snug and lightweight.
        </p>
      </div>
      <button>
        <div class="default-btn">
          <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#FFF" height="20" width="20" viewBox="0 0 24 24"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle r="3" cy="12" cx="12"></circle></svg>
          <span>Quick View</span>
        </div>
        <div class="hover-btn">
          <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#ffd300" height="20" width="20" viewBox="0 0 24 24"><circle r="1" cy="21" cx="9"></circle><circle r="1" cy="21" cx="20"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
          <span>Shop Now</span>
        </div>
      </button>
    </div>
  </div>

</section>
<app-list-products></app-list-products>
<app-about></app-about>





